{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "rules": {
    "consistent-return": [0],
    "id-length": [0],
    "no-param-reassign": [0],
    "no-shadow": [0],
    "spaced-comment": [0],
    "comma-dangle": [0],
    "func-names": [0],
    "padded-blocks": [0],
    "arrow-body-style": [0],
    "max-len": [0],
    "newline-per-chained-call": [0],
    "arrow-parens": [2, "as-needed"],
    "no-underscore-dangle": [0],
    "import/newline-after-import": [0],
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true, "optionalDependencies": false
    }]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base"
}
